{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    a.ajax-toggle  {
        font-weight: bold;
        font-style: normal;
        color: rgb(91, 129, 0);
    }
    a.mode-off {
        color: rgb(210, 210, 210);
        font-style: italic;
        font-weight: normal;
    }
    span.smallgray a {
        color: #666;
        font-size: 11px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <p style="font-size: 24px;"><strong>Replay AP</strong> is an engine for replaying AP election tests. To use <strong>Replay AP</strong> with your <a href="https://github.com/newsdev/election-2018">election app</a>, export this environment variable to point your loader away from the AP.</p>
        <p>
            <pre>
                <code>export AP_API_BASE_URL="{{ PUB_URL }}"</code></pre>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" id="user-control" action="/"> 
            <div class="form-group">
                <label for="user-control">You are viewing elections as user <span style="color: red;">{{ user }}</span>. Switch:</label>
                <select type="form-control" name="user" id="user-select">
                    {% if available_users|length > 0 %}
                        {% for u in available_users %}
                            {% if u == user %}<option selected value="{{ u }}">{{ u }}</option>
                            {% else %}<option value="{{ u }}">{{ u }}</option>{% endif %}
                        {% endfor %}
                    {% else %}
                        <option selected>{{ user }}</option>
                    {% endif %}
                </select>
            </div>
        </form>
    </div>
</div>

{% if current|length > 0 %}
<div class="row">
    <div class="col-md-12">
        <h1>Upcoming elections</h1>
        <table class="table">
        <tr>
            <th>Election date</th>
            <th>Status</th>
            <th>Recording</th>
            <th>Position</th>
            <th>Playback speed</th>
            <th>Error mode</th>
        </tr>
        {% for e in current %}
        <tr id="election-{{ e.racedate }}">
            <td class="col-md-2">
                <a target="_blank" href="https://console.cloud.google.com/storage/browser/{{ STORAGE_BUCKET }}/apps/replay-ap/{{ e.racedate }}/?project=nytint-prd">{{ e.racedate }}</a>&nbsp;<span class="smallgray"><a target="_blank" href="{{ PUB_URL }}/elections/{{ e.racedate }}?national=true&level=ru&user={{ user}}">nat &raquo;</a> <a target="_blank" href="{{ PUB_URL }}/elections/{{ e.racedate }}?national=false&level=ru&user={{ user}}">loc &raquo;</a></span>
            </td>
            <td class="status">
                <a target="_blank" href="/elections/{{ e.racedate }}/status&user={{ user}}">status.json</a>&nbsp;
            </td>
            <td class="recording">
                {% if e.status == False %}
                <a class="startstop btn btn-default btn-sm" data-command="start">Start recording</a>
                {% else %}
                <a class="startstop btn btn-warning btn-sm" data-command="stop">Stop recording</a>
                {% endif %}
            </td>
            <td class="position">
                    <strong>{{ e.position }}</strong>&nbsp;/&nbsp;{{ e.total_positions }}&nbsp;
                    <a class="ajax" id="position-0" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">start</a> &bull;
                    <a class="ajax" id="position-25" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">25%</a> &bull; 
                    <a class="ajax" id="position-50" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">50%</a> &bull;
                    <a class="ajax" id="position-75" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">75%</a> &bull;
                    <a class="ajax" id="position-90" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">90%</a> &bull;
                    <a class="ajax" id="position-100" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">end</a>
                </td>
                <td class="playback">
                    <strong>{{ e.playback }}</strong>&nbsp;
                    <a class="ajax" id="playback-1" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">1</a> &bull;
                    <a class="ajax" id="playback-10" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">10</a> &bull;
                    <a class="ajax" id="playback-20" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">20</a>
                </td>
            <td class="errormode">
                <a class="{% if e.errormode %}{% else %}mode-off {% endif %}ajax-toggle" id="errormode" href="/recording/{{e. racedate }}/position/?user={{ user }}&national={{ national }}&level=ru">500</a>&nbsp;&nbsp;
                <a class="{% if e.ratelimited %}{% else %}mode-off {% endif %}ajax-toggle" id="ratelimited" href="/recording/{{e. racedate }}/position/?user={{ user }}&national={{ national }}&level=ru">403</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% if past|length > 0 %}
<div class="row">
    <div class="col-md-12">
        <h1>Old elections</h1>
        <table class="table">
        <tr>
            <th>Election date</th>
            <th>Position</th>
            <th>Playback speed</th>
            <th>Error mode</th>
        </tr>
        {% for e in past %}
        <tr id="election-{{ e.racedate }}">
                <td class="col-md-2">
                        <a target="_blank" href="https://console.cloud.google.com/storage/browser/{{ STORAGE_BUCKET }}/apps/replay-ap/{{ e.racedate }}/?project=nytint-prd">{{ e.racedate }}</a>&nbsp;<span class="smallgray"><a target="_blank" href="{{ PUB_URL }}/elections/{{ e.racedate }}?national=true&level=ru">nat &raquo;</a> <a target="_blank" href="{{ PUB_URL }}/elections/{{ e.racedate }}?national=false&level=ru">loc &raquo;</a></span>
                    </td>
            <td class="position">
                <strong>{{ e.position }}</strong>&nbsp;/&nbsp;{{ e.total_positions }}&nbsp;
                <a class="ajax" id="position-0" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">start</a> &bull;
                <a class="ajax" id="position-25" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">25%</a> &bull; 
                <a class="ajax" id="position-50" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">50%</a> &bull;
                <a class="ajax" id="position-75" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">75%</a> &bull;
                <a class="ajax" id="position-90" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">90%</a> &bull;
                <a class="ajax" id="position-100" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-positions="{{ e.total_positions }}">end</a>
            </td>
            <td class="playback">
                <strong>{{ e.playback }}</strong>&nbsp;
                <a class="ajax" id="playback-1" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">1</a> &bull;
                <a class="ajax" id="playback-10" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">10</a> &bull;
                <a class="ajax" id="playback-20" href="/recording/{{ e.racedate }}/position/?user={{ user }}&national={{ national }}&level=ru" data-playback="{{ e.playback }}">20</a>
            </td>
            <td class="errormode">
                <a class="{% if e.errormode %}{% else %}mode-off {% endif %}ajax-toggle" id="errormode" href="/recording/{{e. racedate }}/position/?user={{ user }}&national={{ national }}&level=ru">500</a>&nbsp;&nbsp;
                <a class="{% if e.ratelimited %}{% else %}mode-off {% endif %}ajax-toggle" id="ratelimited" href="/recording/{{e. racedate }}/position/?user={{ user }}&national={{ national }}&level=ru">403</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){
        var recording_click_handler = function(el){
            el.preventDefault();
            $el = $(this);
            var RACEDATE = $el.parent('td').parent('tr').attr('id').split('election-')[1];
            var ACTION = $el.attr('data-command');
            console.log('/recording/' + RACEDATE + '/' + ACTION + '/');
            $.ajax({
                type: "GET",
                url: '/recording/' + RACEDATE + '/' + ACTION + '/',
                success: function(response){
                    window.location.reload();
                }
            });            
        }

        var ajax_url = function(racedate, action, param_name, direction, url, positions, playback){
            var params = {}
            params[param_name] = parseInt($($('#' + racedate + ' .' + action + ' strong')[0]).text());
            if (direction == "0") {
                params[param_name] = 0;
            };
            if (direction == "1") {
                params[param_name] = 1;
            };
            if (direction == "10") {
                params[param_name] = 10;
            };
            if (direction == "20") {
                params[param_name] = 20;
            };
            if (direction == "25") {
                params[param_name] = Math.round(positions * 0.25);
            };
            if (direction == "50") {
                params[param_name] = Math.round(positions * 0.50);
            };
            if (direction == "75") {
                params[param_name] = Math.round(positions * 0.75);
            };
            if (direction == "90") {
                params[param_name] = Math.round(positions * 0.90);
            };
            if (direction == "100") {
                params[param_name] = positions;
            };
            $.ajax({
                type: "GET",
                url: url,
                data: params,
                success: function(response){
                    $($('#' + racedate + ' .' + action + ' strong')[0]).text(params[param_name]);
                    $($('#' + racedate + ' .' + action + ' strong')[1]).text(params[param_name]);
                }
            });

        };

        var ajax_click_handler = function(el){
            el.preventDefault();
            $el = $(this);
            var RACEDATE = $el.parent('td').parent('tr').attr('id');
            var ACTION = $el.parent('td').attr('class');
            var POSITIONS = parseInt($el.attr('data-positions'))||null;
            var PLAYBACK = parseInt($el.attr('data-playback'))||null;
            var PARAM_NAME = $el.attr('id').split('-')[0];
            var DIRECTION = $el.attr('id').split('-')[1];
            var URL = $el.attr('href');
            ajax_url(
                RACEDATE,
                ACTION,
                PARAM_NAME,
                DIRECTION,
                URL,
                POSITIONS,
                PLAYBACK
            );
        };

        var ajax_toggle_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            params = {}
            params[$el.attr('id')] = false
            if ($el.hasClass('mode-off')) {
                params[$el.attr('id')] = true
            }
            $.ajax({
                type: "GET",
                url: $el.attr('href'),
                data: params,
                success: function(response){
                    console.log(params, 'success');
                    $el.toggleClass('mode-off');
                }
            })
        }
        
        var user_select_form_handler = function(el) {
            el.preventDefault();
            window.location.href = '/?' + $('#user-control').serialize();
        }

        $('a.ajax').on('click', ajax_click_handler);
        $('a.ajax-toggle').on('click', ajax_toggle_handler);
        $('a.startstop').on('click', recording_click_handler);
        $('#user-select').on('change', user_select_form_handler);
    });
</script>
{% endblock %}
